<nav>
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === 0}"
    >
      <a class="page-link" (click)="currentPage = currentPage - 1">Prev</a>
    </li>

    <ng-container *ngFor="let image of images; let i=index;">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkIndex(i)"
      >
        <a class="page-link" (click)="currentPage = i">{{ i+1 }}</a>
      </li>
    </ng-container>
    

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length -1}"
    >
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<h1>{{ images[currentPage].title}}</h1>
<img [src]="images[currentPage].url">