<div class="field">
    <label class="label">{{ label }}</label>
    <div class="control">
        <input 
         [formControl]="control"
         class="input"
         [ngClass]="{'is-danger': control.errors && control.dirty && control.touched}"
        >
    </div>
    <ng-container 
     *ngIf="
        control.dirty &&
        control.touched &&
        control.errors
        ">
        <div class="help is-danger" *ngIf="control.errors.required">
            Value is required
        </div>
        <div class="help is-danger" *ngIf="control.errors.minlength">
            Minimum length 
            {{ control.errors.minlength.requiredLength}}
        </div>
        <div class="help is-danger" *ngIf="control.errors.maxlength">
            Maximum length 
            {{ control.errors.maxlength.requiredLength}}
        </div>
        <div class="help is-danger" *ngIf="control.errors.pattern">
            Invalid format
        </div>
    </ng-container>
</div>
